/*Fontes do Google Fonts que serao usadas no projecto*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

/*Icones em forma de fontes, retirados do site: fa icons*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);

html{
    font-size: 75%;
}
/*Cabecalho*/
header{
    width:100%;
    height:100vh;
    /*Evita que o tamanho do elemento rompa os limites da janela de visualizacao*/
    overflow:hidden;
    position:relative;
}
/*Titulo: Programador Junior - Para telas mobile*/
#menor{
    display: none;
    
}

/*Imagem do cabecalho*/
.image-wrapper{
    width:100%;
    height:100%;
    /*Determina a cor de fundo e a sua opacidade*/
    background-color:rgba(0,0,0,0.8);
    /*Implementando animacao que foi criada*/
    animation:zoom 25s;
}

/*Criando uma animacao: A posicao padrao da imagem eh 1 e o seu inicio eh 0%*/
@keyframes zoom{
    0%{
        /*Determina o zoom inicial da imagem*/
        transform:scale(1.3);
    }
    100%{
        /*Determina o zoom final da imagem*/
        transform:scale(1);
    }
}
/*Uma vez que o conteiner da imagem, image-wrapper, ocupa
100vh, ou seja 100% da janela de visualizacao, entao a img vai
ocupar 100% do seu elemento pai, que eh 100% da janela de visualizacao*/
.image-wrapper img{
    width:100%;
    height:100%;
    /*Determina como o elemento sera colocado dentro do seu elemento,
    Com o cover a imagem vai cobrir todo seu conteiner, e assim ela 
    nao sera exprimida quando o tamanho da tela for reduzido porque 
    ela ocupa 100% da janela de visualizacao.
    */
    object-fit:cover;
    opacity:0.5;
}
/*Conteiner que contem:p, h1 e button*/
.banner{
    position:absolute;
    top:30%;
    left:12%;
}

.banner #maior, .banner #menor{
    color:white;
    font-size:3.5rem;
    font-family:var(--font-primary);
    font-weight:200;    
    text-shadow: .3rem .4rem 2px rgba(0,0,0,.4);
    line-height:3.5rem;
    margin-bottom: 2.3rem;
    /*animation:animacao tempoDeExecucao tempoDeAtraso;*/
    animation:moveBanner 1s 0.5 forwards;
    opacity:0;
}

.banner p{
    font-family: var(--font-secundary);
    color:#fff;
    font-size:2rem;
    text-shadow:.3rem .4rem 2px rgba(0,0,0,.4);
    margin-bottom: 2rem;
    opacity:0;
    animation:moveBanner 1s 0.7 forwards;
}

.banner button{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none;    
    background-color: black;
    padding: .7rem 2.1rem;
    border-radius:5px;
    cursor:pointer;
    opacity:0;
    animation:moveBanner 1s 0.9 forwards;
}

.banner button a{
    font-family: var(--font-action);
    color:#fff;
    /*Espacamento entre as letras*/
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .8rem;
}
/*Criando animacao:Assim que a pagina eh acessada, o elemento
no qual esta animacao eh colocada se torna visivel enquanto eh transladado para cima*/
@keyframes moveBanner{
    0%{
        /*Posicao inicial do elemento que for aplicado esta animacao*/
        transform:translateY(10rem) rotateY(-30deg);
    }
    100%{
        /*Posicao final*/
        transform:translateY(0) rotateY(0);
        /*O elemento se torna visivel gradualmente*/
        opacity:1;
    }
}


@media (max-width:768px){
    html{
        font-size: 60%;
    }
}

@media (max-width:670px){
    .banner{
        left: 10%;
    }
}

@media (max-width:626px){
    .banner{
        left: 5%;
    }
}



@media (max-width:586px){
    html{
        font-size: 60%;
    }
    #maior{
        display: none;
    }
    
    .banner{
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0;
        position: absolute;
        /* background-color: #fff; */
    }

    .banner #menor{
        position: relative;
        top: 15rem;
        left:5%;
        display: block;
    }

    .banner p{
        position: relative;
        top: 15rem;
        left: 5%;
    }

    .banner button{
        width: 90%;
        position: absolute;
        bottom:2rem;
        left: 5%;
    }
}